/* --- 1. THE PALETTE & FONTS --- */
:root {
    --deep-forest: #2F4F3A;
    --moss-green: #4B6B4A;
    --muted-green: #6F8F62;
    --sage-green: #8FAF7A;
    --off-white: #F5F7F5;
    --rich-black: #0F0F0F;
    
   
    --header-font: 'Libre Baskerville', serif;
    --body-font: 'Montserrat', sans-serif;
    --size-header: 2.5rem;
}

* {margin: 0;padding: 0;}

html {scroll-behavior: smooth;}

body {font-family: var(--body-font);background-color: var(--off-white);color: var(--rich-black);}

nav {
    position: absolute;
    background-color: var(--deep-forest);
    display: flex;
    flex-flow: column no-wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 8%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

nav img {
    height: 60px;
    width: auto;
    display: block;
}

nav li {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--sage-green);
}

/* .content {
    padding: 1rem;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
    align-items: center;
} */

.Hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 150px 10%;
    border-bottom: 4px solid var(--sage-green);
    height: 45vh;
    text-align: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}

.Hero h1 {
    font-family: var(--header-font);
    font-size: var(--size-header);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Hero p {
    font-family: var(--header-font);
    font-style: italic;
    font-size: 1.5rem;
    color: var(--sage-green);
    font-weight: 400;
}

section {
    padding: 100px 15%;
}

h1 {
    font-family: var(--header-font);
    color: var(--deep-forest);
    font-size: 2.2rem;
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
}
/* 
h1::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--sage-green);
    margin-top: 10px;
} */

footer {
    background-color: var(--rich-black);
    padding: 60px 0;
    text-align: center;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social a {
    color: var(--off-white);
    font-size: 1.8rem;
    margin: 0 20px;
    transition: all 0.3s ease;
}
.footer-social a:hover {
    color: var(--sage-green);
    transform: translateY(-5px);
}
section div {max-width: 900px;}
