/* --- 1. THE PALETTE & FONTS --- */
:root {
    --deep-forest: #2F4F3A;
    --moss-green: #4B6B4A;
    --muted-green: #6F8F62;
    --sage-green: #8FAF7A;
    --off-white: #F5F7F5;
    --rich-black: #0F0F0F;
    
   
    --header-font: 'Libre Baskerville', serif;
    --body-font: 'Montserrat', sans-serif;
    --size-header: 3.5rem;
    --text-header: 2rem;
}

* {margin: 0;padding: 0; box-sizing: border-box;}

html {scroll-behavior: smooth;}

body {font-family: var(--body-font);background-color: var(--off-white);color: var(--rich-black);}

a {
    text-decoration: none;
    padding: 1rem;
    background: rgba(0, 0, 0, 0);
    border: var(--moss-green) solid 2px;
    color: var(--moss-green);
    font: var(--body-font);
}


nav {
    position: absolute;
    /* background-color: var(--deep-forest); */
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 8%;
    width: 100%;
    gap: 64px;
    top: 0;
    z-index: 1000;
    /* box-shadow: 0 2px 10px rgba(0,0,0,0.2); */
    /* background-color: rgba(0, 0, 0, 0.2); */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.links {
    list-style-type: none;
}

nav ul {
    display: flex;
    gap: 60px;
}

nav img {
    height: 60px;
    width: auto;
    display: block;
}

nav a {
    color: white;
    border: none;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--sage-green);
}

.aboutdrop:hover .aboutcont {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.aboutdrop {
    position: relative;
}

.aboutcont {
    display: none;
    position: absolute;
    /* top: 290%; */
    top: 100%;
    right: 0;
    min-width: 160px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
    gap: 10px;
    padding: 1.5rem;
    font-size: 30px;
    text-align: left;
}

.content {
    padding: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.Hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 150px 10%;
    border-bottom: 4px solid var(--sage-green);
    height: 80vh;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.Hero h1 {
    color: var(--off-white);
}


.background-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.background-video-container iframe {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  pointer-events: none; /* Prevents users from clicking on the video */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 3rem;
}

.Hero h1 {
    font-family: var(--header-font);
    font-size: var(--size-header);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.9);
}

.Hero p {
    font-family: var(--header-font);
    font-style: italic;
    font-size: var(--text-header);
    color: var(--sage-green);
    font-weight: 400;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.9);
}

section {
    padding: 100px 15%;
}

h1 {
    font-family: var(--header-font);
    color: var(--deep-forest);
    font-size: 2.2rem;
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
}

/* h1::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--sage-green);
    margin-top: 10px;
} */

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.committee {
    background-color: var(--muted-green);
    height: 80vh;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.commc, .prepc, .regc, .aboutc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 80vh;
}

.About {
    background-color: var(--deep-forest);
    height: 80vh;
}

.aboutc h1{
    color: var(--muted-green);
}

.Preparation {
    background-color: var(--sage-green);
}

.Registration {
    background-color: var(--muted-green);
}

footer {
    background-color: var(--rich-black);
    padding: 60px 0;
    text-align: center;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social a {
    color: var(--off-white);
    font-size: 1.8rem;
    margin: 0 20px;
    transition: all 0.3s ease;
    border: none;
}

.footer-social a:hover {
    color: var(--sage-green);
    transform: translateY(-5px);
}

section div {max-width: 900px;}
