.guides {
    margin: 15px;
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guides a {
    display:flex;
    color: var(--rich-black);
    font-weight: 600;
    justify-content: center;
    font-size: 17px;
    border-left: 6px solid var(--moss-green);
    border-radius: 6px;
    padding: 17px;
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}

.guides a:hover {
    transform: scale(1.05);
    color: rgba(0, 0, 0, 0.5);
}